<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>com.schriftgestaltung.fontMaster.Alignment Zones</key>
  <array>
    <dict>
      <key>name</key>
      <string>base</string>
      <key>position</key>
      <integer>0</integer>
      <key>size</key>
      <integer>-20</integer>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>sheva</string>
    <string>uni1C800</string>
    <string>uni1C801</string>
    <string>uni1C802</string>
    <string>uni1C803</string>
    <string>uni1C804</string>
    <string>uni1C805</string>
    <string>uni1C806</string>
    <string>uni1C807</string>
    <string>uni1C808</string>
    <string>uni1C809</string>
    <string>uni1C80A</string>
    <string>uni1C80B</string>
    <string>uni1C80C</string>
    <string>uni1C80D</string>
    <string>uni1C80E</string>
    <string>uni1C80F</string>
    <string>uni1C810</string>
    <string>uni1C811</string>
    <string>uni1C812</string>
    <string>uni1C813</string>
    <string>uni1C814</string>
    <string>uni1C815</string>
    <string>uni1C816</string>
    <string>uni1C817</string>
    <string>uni1C818</string>
    <string>uni1C819</string>
    <string>uni1C81A</string>
    <string>uni1C81B</string>
    <string>uni1C81C</string>
    <string>uni1C81D</string>
    <string>uni1C81E</string>
    <string>uni1C81F</string>
    <string>uni1C820</string>
    <string>uni1C821</string>
    <string>uni1C822</string>
    <string>uni1C823</string>
    <string>uni1C824</string>
    <string>uni1C825</string>
    <string>uni1C826</string>
    <string>uni1C827</string>
    <string>uni1C828</string>
    <string>uni1C829</string>
    <string>uni1C82A</string>
    <string>uni1C82B</string>
    <string>uni1C82C</string>
    <string>uni1C82D</string>
    <string>uni1C82E</string>
    <string>uni1C82F</string>
    <string>uni1C830</string>
    <string>uni1C831</string>
    <string>uni1C832</string>
    <string>uni1C833</string>
    <string>uni1C834</string>
    <string>uni1C835</string>
    <string>uni1C836</string>
    <string>uni1C837</string>
    <string>uni1C838</string>
    <string>uni1C839</string>
    <string>uni1C83A</string>
    <string>uni1C83B</string>
    <string>uni1C83C</string>
    <string>uni1C83D</string>
    <string>uni1C83E</string>
    <string>uni1C83F</string>
    <string>uni1C840</string>
    <string>uni1C841</string>
    <string>uni1C842</string>
    <string>uni1C843</string>
    <string>uni1C844</string>
    <string>uni1C845</string>
    <string>uni1C846</string>
    <string>uni1C847</string>
    <string>uni1C848</string>
    <string>uni1C849</string>
    <string>uni1C84A</string>
    <string>uni1C84B</string>
    <string>uni1C84C</string>
    <string>uni1C84D</string>
    <string>uni1C84E</string>
    <string>uni1C84F</string>
    <string>uni1C850</string>
    <string>uni1C851</string>
    <string>uni1C852</string>
    <string>uni1C853</string>
    <string>uni1C854</string>
    <string>uni1C855</string>
    <string>uni1C856</string>
    <string>uni1C857</string>
    <string>uni1C858</string>
    <string>uni1C859</string>
    <string>uni1C85A</string>
    <string>uni1C85B</string>
    <string>uni1C85C</string>
    <string>uni1C85D</string>
    <string>uni1C85E</string>
    <string>uni1C85F</string>
    <string>uni1C860</string>
    <string>uni1C861</string>
    <string>uni1C862</string>
    <string>uni1C863</string>
    <string>uni1C864</string>
    <string>uni1C865</string>
    <string>uni1C866</string>
    <string>uni1C867</string>
    <string>uni1C868</string>
    <string>uni1C869</string>
    <string>uni1C86A</string>
    <string>uni1C86B</string>
    <string>uni1C86C</string>
    <string>uni1C86D</string>
    <string>uni1C86E</string>
    <string>uni1C86F</string>
    <string>uni1C870</string>
    <string>uni1C871</string>
    <string>uni1C872</string>
    <string>uni1C873</string>
    <string>uni1C874</string>
    <string>uni1C875</string>
    <string>uni1C876</string>
    <string>uni1C877</string>
    <string>uni1C878</string>
    <string>uni1C879</string>
    <string>uni1C87A</string>
    <string>uni1C87B</string>
    <string>uni1C87C</string>
    <string>uni1C87D</string>
    <string>uni1C87E</string>
    <string>uni1C87F</string>
    <string>uni1C880</string>
    <string>uni1C881</string>
    <string>uni1C882</string>
    <string>uni1C883</string>
    <string>uni1C884</string>
    <string>uni1C885</string>
    <string>uni1C886</string>
    <string>uni1C887</string>
    <string>uni1C888</string>
    <string>uni1C889</string>
    <string>uni1C88A</string>
    <string>uni1C88B</string>
    <string>uni1C88C</string>
    <string>uni1C88D</string>
    <string>uni1C88E</string>
    <string>uni1C88F</string>
    <string>uni1C890</string>
    <string>uni1C891</string>
    <string>uni1C892</string>
    <string>uni1C893</string>
    <string>uni1C894</string>
    <string>uni1C895</string>
    <string>uni1C896</string>
    <string>uni1C897</string>
    <string>uni1C898</string>
    <string>uni1C899</string>
    <string>uni1C89A</string>
    <string>uni1C89B</string>
    <string>uni1C89C</string>
    <string>uni1C89D</string>
    <string>uni1C89E</string>
    <string>uni1C89F</string>
    <string>uni1C8A0</string>
    <string>uni1C8A1</string>
    <string>uni1C8A2</string>
    <string>uni1C8A3</string>
    <string>uni1C8A4</string>
    <string>uni1C8A5</string>
    <string>uni1C8A6</string>
    <string>uni1C8A7</string>
    <string>uni1C8A8</string>
    <string>uni1C8A9</string>
    <string>uni1C8AA</string>
    <string>uni1C8AB</string>
    <string>uni1C8AC</string>
    <string>uni1C8AD</string>
    <string>uni1C8AE</string>
    <string>uni1C8AF</string>
    <string>uni1C8B0</string>
    <string>uni1C8B1</string>
    <string>uni1C8B2</string>
    <string>uni1C8B3</string>
    <string>uni1C8B4</string>
    <string>uni1C8B5</string>
    <string>uni1C8B6</string>
    <string>uni1C8B7</string>
    <string>uni1C8B8</string>
    <string>uni1C8B9</string>
    <string>uni1C8BA</string>
    <string>uni1C8BB</string>
    <string>uni1C8BC</string>
    <string>uni1C8BD</string>
    <string>uni1C8BE</string>
    <string>uni1C8BF</string>
    <string>uni1C8C0</string>
    <string>uni1C8C1</string>
    <string>uni1C8C2</string>
    <string>uni1C8C3</string>
    <string>uni1C8C4</string>
    <string>uni1C8C5</string>
    <string>uni1C8C6</string>
    <string>uni1C8C7</string>
    <string>uni1C8C8</string>
    <string>uni1C8C9</string>
    <string>uni1C8CA</string>
    <string>uni1C8CB</string>
    <string>uni1C8CC</string>
    <string>uni1C8CD</string>
    <string>uni1C8CE</string>
    <string>uni1C8CF</string>
    <string>uni1C8D0</string>
    <string>uni1C8D1</string>
    <string>uni1C8D2</string>
    <string>uni1C8D3</string>
    <string>uni1C8D4</string>
    <string>uni1C8D5</string>
    <string>uni1C8D6</string>
    <string>uni1C8D7</string>
    <string>uni1C8D8</string>
    <string>uni1C8D9</string>
    <string>uni1C8DA</string>
    <string>uni1C8DB</string>
    <string>uni1C8DC</string>
    <string>uni1C8DD</string>
    <string>uni1C8DE</string>
    <string>uni1C8DF</string>
    <string>uni1C8E0</string>
    <string>uni1C8E1</string>
    <string>uni1C8E2</string>
    <string>uni1C8E3</string>
    <string>uni1C8E4</string>
    <string>uni1C8E5</string>
    <string>uni1C8E6</string>
    <string>uni1C8E7</string>
    <string>uni1C8E8</string>
    <string>uni1C8E9</string>
    <string>uni1C8EA</string>
    <string>uni1C8EB</string>
    <string>uni1C8EC</string>
    <string>uni1C8ED</string>
    <string>uni1C8EE</string>
    <string>uni1C8EF</string>
    <string>uni1C8F0</string>
    <string>uni1C8F1</string>
    <string>uni1C8F2</string>
    <string>uni1C8F3</string>
    <string>uni1C8F4</string>
    <string>uni1C8F5</string>
    <string>uni1C8F6</string>
    <string>uni1C8F7</string>
    <string>uni1C8F8</string>
    <string>uni1C8F9</string>
    <string>uni1C8FA</string>
    <string>uni1C8FB</string>
    <string>uni1C8FC</string>
    <string>uni1C8FD</string>
    <string>uni1C8FE</string>
    <string>uni1C8FF</string>
    <string>uni1C900</string>
    <string>uni1C901</string>
    <string>uni1C902</string>
    <string>uni1C903</string>
    <string>uni1C904</string>
    <string>uni1C905</string>
    <string>uni1C906</string>
    <string>uni1C907</string>
    <string>uni1C908</string>
    <string>uni1C909</string>
    <string>uni1C90A</string>
    <string>uni1C90B</string>
    <string>uni1C90C</string>
    <string>uni1C90D</string>
    <string>uni1C90E</string>
    <string>uni1C90F</string>
    <string>uni1C910</string>
    <string>uni1C911</string>
    <string>uni1C912</string>
    <string>uni1C913</string>
    <string>uni1C914</string>
    <string>uni1C915</string>
    <string>uni1C916</string>
    <string>uni1C917</string>
    <string>uni1C918</string>
    <string>uni1C919</string>
    <string>uni1C91A</string>
    <string>uni1C91B</string>
    <string>uni1C91C</string>
    <string>uni1C91D</string>
    <string>uni1C91E</string>
    <string>uni1C91F</string>
    <string>uni1C920</string>
    <string>uni1C921</string>
    <string>uni1C922</string>
    <string>uni1C923</string>
    <string>uni1C924</string>
    <string>uni1C925</string>
    <string>uni1C926</string>
    <string>uni1C927</string>
    <string>uni1C928</string>
    <string>uni1C929</string>
    <string>uni1C92A</string>
    <string>uni1C92B</string>
    <string>uni1C92C</string>
    <string>uni1C92D</string>
    <string>uni1C92E</string>
    <string>uni1C92F</string>
    <string>uni1C930</string>
    <string>uni1C931</string>
    <string>uni1C932</string>
    <string>uni1C933</string>
    <string>uni1C934</string>
    <string>uni1C935</string>
    <string>uni1C936</string>
    <string>uni1C937</string>
    <string>uni1C938</string>
    <string>uni1C939</string>
    <string>uni1C93A</string>
    <string>uni1C93B</string>
    <string>uni1C93C</string>
    <string>uni1C93D</string>
    <string>uni1C93E</string>
    <string>uni1C93F</string>
    <string>uni1C940</string>
    <string>uni1C941</string>
    <string>uni1C942</string>
    <string>uni1C943</string>
    <string>uni1C944</string>
    <string>uni1C945</string>
    <string>uni1C946</string>
    <string>uni1C947</string>
    <string>uni1C948</string>
    <string>uni1C949</string>
    <string>uni1C94A</string>
    <string>uni1C94B</string>
    <string>uni1C94C</string>
    <string>uni1C94D</string>
    <string>uni1C94E</string>
    <string>uni1C94F</string>
    <string>uni1C950</string>
    <string>uni1C951</string>
    <string>uni1C952</string>
    <string>uni1C953</string>
    <string>uni1C954</string>
    <string>uni1C955</string>
    <string>uni1C956</string>
    <string>uni1C957</string>
    <string>uni1C958</string>
    <string>uni1C959</string>
    <string>uni1C95A</string>
    <string>uni1C95B</string>
    <string>uni1C95C</string>
    <string>uni1C95D</string>
    <string>uni1C95E</string>
    <string>uni1C95F</string>
    <string>uni1C960</string>
    <string>uni1C961</string>
    <string>uni1C962</string>
    <string>uni1C963</string>
    <string>uni1C964</string>
    <string>uni1C965</string>
    <string>uni1C966</string>
    <string>uni1C967</string>
    <string>uni1C968</string>
    <string>uni1C969</string>
    <string>uni1C96A</string>
    <string>uni1C96B</string>
    <string>uni1C96C</string>
    <string>uni1C96D</string>
    <string>uni1C96E</string>
    <string>uni1C96F</string>
    <string>uni1C970</string>
    <string>uni1C971</string>
    <string>uni1C972</string>
    <string>uni1C973</string>
    <string>uni1C974</string>
    <string>uni1C975</string>
    <string>uni1C976</string>
    <string>uni1C977</string>
    <string>uni1C978</string>
    <string>uni1C979</string>
    <string>uni1C97A</string>
    <string>uni1C97B</string>
    <string>uni1C97C</string>
    <string>uni1C97D</string>
    <string>uni1C97E</string>
    <string>uni1C97F</string>
    <string>uni1C980</string>
    <string>uni1C981</string>
    <string>uni1C982</string>
    <string>uni1C983</string>
    <string>uni1C984</string>
    <string>uni1C985</string>
    <string>uni1C986</string>
    <string>uni1C987</string>
    <string>uni1C988</string>
    <string>uni1C989</string>
    <string>uni1C98A</string>
    <string>uni1C98B</string>
    <string>uni1C98C</string>
    <string>uni1C98D</string>
    <string>uni1C98E</string>
    <string>uni1C98F</string>
    <string>uni1C990</string>
    <string>uni1C991</string>
    <string>uni1C992</string>
    <string>uni1C993</string>
    <string>uni1C994</string>
    <string>uni1C995</string>
    <string>uni1C996</string>
    <string>uni1C997</string>
    <string>uni1C998</string>
    <string>uni1C999</string>
    <string>uni1C99A</string>
    <string>uni1C99B</string>
    <string>uni1C99C</string>
    <string>uni1C99D</string>
    <string>uni1C99E</string>
    <string>uni1C99F</string>
    <string>uni1C9A0</string>
    <string>uni1C9A1</string>
    <string>uni1C9A2</string>
    <string>uni1C9A3</string>
    <string>uni1C9A4</string>
    <string>uni1C9A5</string>
    <string>uni1C9A6</string>
    <string>uni1C9A7</string>
    <string>uni1C9A8</string>
    <string>uni1C9A9</string>
    <string>uni1C9AA</string>
    <string>uni1C9AB</string>
    <string>uni1C9AC</string>
    <string>uni1C9AD</string>
    <string>uni1C9AE</string>
    <string>uni1C9AF</string>
    <string>uni1C9B0</string>
    <string>uni1C9B1</string>
    <string>uni1C9B2</string>
    <string>uni1C9B3</string>
    <string>uni1C9B4</string>
    <string>uni1C9B5</string>
    <string>uni1C9B6</string>
    <string>uni1C9B7</string>
    <string>uni1C9B8</string>
    <string>uni1C9B9</string>
    <string>uni1C9BA</string>
    <string>uni1C9BB</string>
    <string>uni1C9BC</string>
    <string>uni1C9BD</string>
    <string>uni1C9BE</string>
    <string>uni1C9BF</string>
    <string>uni1C9C0</string>
    <string>uni1C9C1</string>
    <string>uni1C9C2</string>
    <string>uni1C9C3</string>
    <string>uni1C9C4</string>
    <string>uni1C9C5</string>
    <string>uni1C9C6</string>
    <string>uni1C9C7</string>
    <string>uni1C9C8</string>
    <string>uni1C9C9</string>
    <string>uni1C9CA</string>
    <string>uni1C9CB</string>
    <string>uni1C9CC</string>
    <string>uni1C9CD</string>
    <string>uni1C9CE</string>
    <string>uni1C9CF</string>
    <string>uni1C9D0</string>
    <string>uni1C9D1</string>
    <string>uni1C9D2</string>
    <string>uni1C9D3</string>
    <string>uni1C9D4</string>
    <string>uni1C9D5</string>
    <string>uni1C9D6</string>
    <string>uni1C9D7</string>
    <string>uni1C9D8</string>
    <string>uni1C9D9</string>
    <string>uni1C9DA</string>
    <string>uni1C9DB</string>
    <string>uni1C9DC</string>
    <string>uni1C9DD</string>
    <string>uni1C9DE</string>
    <string>uni1C9DF</string>
    <string>uni1C9E0</string>
    <string>uni1C9E1</string>
    <string>uni1C9E2</string>
    <string>uni1C9E3</string>
    <string>uni1C9E4</string>
    <string>uni1C9E5</string>
    <string>uni1C9E6</string>
    <string>uni1C9E7</string>
    <string>uni1C9E8</string>
    <string>uni1C9E9</string>
    <string>uni1C9EA</string>
    <string>uni1C9EB</string>
    <string>uni1C9EC</string>
    <string>uni1C9ED</string>
    <string>uni1C9EE</string>
    <string>uni1C9EF</string>
    <string>uni1C9F0</string>
    <string>uni1C9F1</string>
    <string>uni1C9F2</string>
    <string>uni1C9F3</string>
    <string>uni1C9F4</string>
    <string>uni1C9F5</string>
    <string>uni1C9F6</string>
    <string>uni1C9F7</string>
    <string>uni1C9F8</string>
    <string>uni1C9F9</string>
    <string>uni1C9FA</string>
    <string>uni1C9FB</string>
    <string>uni1C9FC</string>
    <string>uni1C9FD</string>
    <string>uni1C9FE</string>
    <string>uni1C9FF</string>
    <string>uni1CA00</string>
    <string>uni1CA01</string>
    <string>uni1CA02</string>
    <string>uni1CA03</string>
    <string>uni1CA04</string>
    <string>uni1CA05</string>
    <string>uni1CA06</string>
    <string>uni1CA07</string>
    <string>uni1CA08</string>
    <string>uni1CA09</string>
    <string>uni1CA0A</string>
    <string>uni1CA0B</string>
    <string>uni1CA0C</string>
    <string>uni1CA0D</string>
    <string>uni1CA0E</string>
    <string>uni1CA0F</string>
    <string>uni1CA10</string>
    <string>uni1CA11</string>
    <string>uni1CA12</string>
    <string>uni1CA13</string>
    <string>uni1CA14</string>
    <string>uni1CA15</string>
    <string>uni1CA16</string>
    <string>uni1CA17</string>
    <string>uni1CA18</string>
    <string>uni1CA19</string>
    <string>uni1CA1A</string>
    <string>uni1CA1B</string>
    <string>uni1CA1C</string>
    <string>uni1CA1D</string>
    <string>uni1CA1E</string>
    <string>uni1CA1F</string>
    <string>uni1CA20</string>
    <string>uni1CA21</string>
    <string>uni1CA22</string>
    <string>uni1CA23</string>
    <string>uni1CA24</string>
    <string>uni1CA25</string>
    <string>uni1CA26</string>
    <string>uni1CA27</string>
    <string>uni1CA28</string>
    <string>uni1CA29</string>
    <string>uni1CA2A</string>
    <string>uni1CA2B</string>
    <string>uni1CA2C</string>
    <string>uni1CA2D</string>
    <string>uni1CA2E</string>
    <string>uni1CA2F</string>
    <string>uni1CA30</string>
    <string>uni1CA31</string>
    <string>uni1CA32</string>
    <string>uni1CA33</string>
    <string>uni1CA34</string>
    <string>uni1CA35</string>
    <string>uni1CA36</string>
    <string>uni1CA37</string>
    <string>uni1CA38</string>
    <string>uni1CA39</string>
    <string>uni1CA3A</string>
    <string>uni1CA3B</string>
    <string>uni1CA3C</string>
    <string>uni1CA3D</string>
    <string>uni1CA3E</string>
    <string>uni1CA3F</string>
    <string>uni1CA40</string>
    <string>uni1CA41</string>
    <string>uni1CA42</string>
    <string>uni1CA43</string>
    <string>uni1CA44</string>
    <string>uni1CA45</string>
    <string>uni1CA46</string>
    <string>uni1CA47</string>
    <string>uni1CA48</string>
    <string>uni1CA49</string>
    <string>uni1CA4A</string>
    <string>uni1CA4B</string>
    <string>uni1CA4C</string>
    <string>uni1CA4D</string>
    <string>uni1CA4E</string>
    <string>uni1CA4F</string>
    <string>uni1CA50</string>
    <string>uni1CA51</string>
    <string>uni1CA52</string>
    <string>uni1CA53</string>
    <string>uni1CA54</string>
    <string>uni1CA55</string>
    <string>uni1CA56</string>
    <string>uni1CA57</string>
    <string>uni1CA58</string>
    <string>uni1CA59</string>
    <string>uni1CA5A</string>
    <string>uni1CA5B</string>
    <string>uni1CA5C</string>
    <string>uni1CA5D</string>
    <string>uni1CA5E</string>
    <string>uni1CA5F</string>
    <string>uni1CA60</string>
    <string>uni1CA61</string>
    <string>uni1CA62</string>
    <string>uni1CA63</string>
    <string>uni1CA64</string>
    <string>uni1CA65</string>
    <string>uni1CA66</string>
    <string>uni1CA67</string>
    <string>uni1CA68</string>
    <string>uni1CA69</string>
    <string>uni1CA6A</string>
    <string>uni1CA6B</string>
    <string>uni1CA6C</string>
    <string>uni1CA6D</string>
    <string>uni1CA6E</string>
    <string>uni1CA6F</string>
    <string>uni1CA70</string>
    <string>uni1CA71</string>
    <string>uni1CA72</string>
    <string>uni1CA73</string>
    <string>uni1CA74</string>
    <string>uni1CA75</string>
    <string>uni1CA76</string>
    <string>uni1CA77</string>
    <string>uni1CA78</string>
    <string>uni1CA79</string>
    <string>uni1CA7A</string>
    <string>uni1CA7B</string>
    <string>uni1CA7C</string>
    <string>uni1CA7D</string>
    <string>uni1CA7E</string>
    <string>uni1CA7F</string>
    <string>uni1CA80</string>
    <string>uni1CA81</string>
    <string>uni1CA82</string>
    <string>uni1CA83</string>
    <string>uni1CA84</string>
    <string>uni1CA85</string>
    <string>uni1CA86</string>
    <string>uni1CA87</string>
    <string>uni1CA88</string>
    <string>uni1CA89</string>
    <string>uni1CA8A</string>
    <string>uni1CA8B</string>
    <string>uni1CA8C</string>
    <string>uni1CA8D</string>
    <string>uni1CA8E</string>
    <string>uni1CA8F</string>
    <string>uni1CA90</string>
    <string>uni1CA91</string>
    <string>uni1CA92</string>
    <string>uni1CA93</string>
    <string>uni1CA94</string>
    <string>uni1CA95</string>
    <string>uni1CA96</string>
    <string>uni1CA97</string>
    <string>uni1CA98</string>
    <string>uni1CA99</string>
    <string>uni1CA9A</string>
    <string>uni1CA9B</string>
    <string>uni1CA9C</string>
    <string>uni1CA9D</string>
    <string>uni1CA9E</string>
    <string>uni1CA9F</string>
    <string>uni1CAA0</string>
    <string>uni1CAA1</string>
    <string>uni1CAA2</string>
    <string>uni1CAA3</string>
    <string>uni1CAA4</string>
    <string>uni1CAA5</string>
    <string>uni1CAA6</string>
    <string>uni1CAA7</string>
    <string>uni1CAA8</string>
    <string>uni1CAA9</string>
    <string>uni1CAAA</string>
    <string>uni1CAAB</string>
    <string>uni1CAAC</string>
    <string>uni1CAAD</string>
    <string>uni1CAAE</string>
    <string>uni1CAAF</string>
    <string>uni1CAB0</string>
    <string>uni1CAB1</string>
    <string>uni1CAB2</string>
    <string>uni1CAB3</string>
    <string>uni1CAB4</string>
    <string>uni1CAB5</string>
    <string>uni1CAB6</string>
    <string>uni1CAB7</string>
    <string>uni1CAB8</string>
    <string>uni1CAB9</string>
    <string>uni1CABA</string>
    <string>uni1CABB</string>
    <string>uni1CABC</string>
    <string>uni1CABD</string>
    <string>uni1CABE</string>
    <string>uni1CABF</string>
    <string>uni1CAC0</string>
    <string>uni1CAC1</string>
    <string>uni1CAC2</string>
    <string>uni1CAC3</string>
    <string>uni1CAC4</string>
    <string>uni1CAC5</string>
    <string>uni1CAC6</string>
    <string>uni1CAC7</string>
    <string>uni1CAC8</string>
    <string>uni1CAC9</string>
    <string>uni1CACA</string>
    <string>uni1CACB</string>
    <string>uni1CACC</string>
    <string>uni1CACD</string>
    <string>uni1CACE</string>
    <string>uni1CACF</string>
    <string>uni1CAD0</string>
    <string>uni1CAD1</string>
    <string>uni1CAD2</string>
    <string>uni1CAD3</string>
    <string>uni1CAD4</string>
    <string>uni1CAD5</string>
    <string>uni1CAD6</string>
    <string>uni1CAD7</string>
    <string>uni1CAD8</string>
    <string>uni1CAD9</string>
    <string>uni1CADA</string>
    <string>uni1CADB</string>
    <string>uni1CADC</string>
    <string>uni1CADD</string>
    <string>uni1CADE</string>
    <string>uni1CADF</string>
    <string>uni1CAE0</string>
    <string>uni1CAE1</string>
    <string>uni1CAE2</string>
    <string>uni1CAE3</string>
    <string>uni1CAE4</string>
    <string>uni1CAE5</string>
    <string>uni1CAE6</string>
    <string>uni1CAE7</string>
    <string>uni1CAE8</string>
    <string>uni1CAE9</string>
    <string>uni1CAEA</string>
    <string>uni1CAEB</string>
    <string>uni1CAEC</string>
    <string>uni1CAED</string>
    <string>uni1CAEE</string>
    <string>uni1CAEF</string>
    <string>uni1CAF0</string>
    <string>uni1CAF1</string>
    <string>uni1CAF2</string>
    <string>uni1CAF3</string>
    <string>uni1CAF4</string>
    <string>uni1CAF5</string>
    <string>uni1CAF6</string>
    <string>uni1CAF7</string>
    <string>uni1CAF8</string>
    <string>uni1CAF9</string>
    <string>uni1CAFA</string>
    <string>uni1CAFB</string>
    <string>uni1CAFC</string>
    <string>uni1CAFD</string>
    <string>uni1CAFE</string>
    <string>uni1CAFF</string>
    <string>uni1CB00</string>
    <string>uni1CB01</string>
    <string>uni1CB02</string>
    <string>uni1CB03</string>
    <string>uni1CB04</string>
    <string>uni1CB05</string>
    <string>uni1CB06</string>
    <string>uni1CB07</string>
    <string>uni1CB08</string>
    <string>uni1CB09</string>
    <string>uni1CB0A</string>
    <string>uni1CB0B</string>
    <string>uni1CB0C</string>
    <string>uni1CB0D</string>
    <string>uni1CB0E</string>
    <string>uni1CB0F</string>
    <string>uni1CB10</string>
    <string>uni1CB11</string>
    <string>uni1CB12</string>
    <string>uni1CB13</string>
    <string>uni1CB14</string>
    <string>uni1CB15</string>
    <string>uni1CB16</string>
    <string>uni1CB17</string>
    <string>uni1CB20.smr</string>
    <string>uni1CB21.smr</string>
    <string>uni1CB22.smr</string>
    <string>uni1CB23.smr</string>
    <string>uni1CB24.smr</string>
    <string>uni1CB25.smr</string>
    <string>uni1CB26.smr</string>
    <string>uni1CB27.smr</string>
    <string>uni1CB28.smr</string>
    <string>uni1CB29.smr</string>
    <string>uni1CB2A</string>
    <string>uni1CB2B</string>
    <string>uni1CB20</string>
    <string>uni1CB21</string>
    <string>uni1CB22</string>
    <string>uni1CB23</string>
    <string>uni1CB24</string>
    <string>uni1CB25</string>
    <string>uni1CB26</string>
    <string>uni1CB27</string>
    <string>uni1CB28</string>
    <string>uni1CB29</string>
    <string>quoteright</string>
    <string>.notdef</string>
    <string>uni1CB29.ism</string>
    <string>uni1CB20.ism</string>
    <string>uni1CB21.ism</string>
    <string>uni1CB22.ism</string>
    <string>uni1CB23.ism</string>
    <string>uni1CB25.ism</string>
    <string>uni1CB26.ism</string>
    <string>uni1CB27.ism</string>
    <string>uni1CB28.ism</string>
    <string>uni1CB24.ism</string>
    <string>uni1CB20.sna</string>
    <string>uni1CB21.sna</string>
    <string>uni1CB22.sna</string>
    <string>uni1CB23.sna</string>
    <string>uni1CB24.sna</string>
    <string>uni1CB25.sna</string>
    <string>uni1CB26.sna</string>
    <string>uni1CB27.sna</string>
    <string>uni1CB29.sna</string>
    <string>uni1CB28.sna</string>
    <string>uni1CA40.alt</string>
  </array>
</dict>
</plist>
