<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>com.schriftgestaltung.fontMaster.Alignment Zones</key>
  <array>
    <dict>
      <key>name</key>
      <string>base</string>
      <key>position</key>
      <integer>0</integer>
      <key>size</key>
      <integer>-20</integer>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>sheva</string>
    <string>u1C800</string>
    <string>u1C801</string>
    <string>u1C802</string>
    <string>u1C803</string>
    <string>u1C804</string>
    <string>u1C805</string>
    <string>u1C806</string>
    <string>u1C807</string>
    <string>u1C808</string>
    <string>u1C809</string>
    <string>u1C80A</string>
    <string>u1C80B</string>
    <string>u1C80C</string>
    <string>u1C80D</string>
    <string>u1C80E</string>
    <string>u1C80F</string>
    <string>u1C810</string>
    <string>u1C811</string>
    <string>u1C812</string>
    <string>u1C813</string>
    <string>u1C814</string>
    <string>u1C815</string>
    <string>u1C816</string>
    <string>u1C817</string>
    <string>u1C818</string>
    <string>u1C819</string>
    <string>u1C81A</string>
    <string>u1C81B</string>
    <string>u1C81C</string>
    <string>u1C81D</string>
    <string>u1C81E</string>
    <string>u1C81F</string>
    <string>u1C820</string>
    <string>u1C821</string>
    <string>u1C822</string>
    <string>u1C823</string>
    <string>u1C824</string>
    <string>u1C825</string>
    <string>u1C826</string>
    <string>u1C827</string>
    <string>u1C828</string>
    <string>u1C829</string>
    <string>u1C82A</string>
    <string>u1C82B</string>
    <string>u1C82C</string>
    <string>u1C82D</string>
    <string>u1C82E</string>
    <string>u1C82F</string>
    <string>u1C830</string>
    <string>u1C831</string>
    <string>u1C832</string>
    <string>u1C833</string>
    <string>u1C834</string>
    <string>u1C835</string>
    <string>u1C836</string>
    <string>u1C837</string>
    <string>u1C838</string>
    <string>u1C839</string>
    <string>u1C83A</string>
    <string>u1C83B</string>
    <string>u1C83C</string>
    <string>u1C83D</string>
    <string>u1C83E</string>
    <string>u1C83F</string>
    <string>u1C840</string>
    <string>u1C841</string>
    <string>u1C842</string>
    <string>u1C843</string>
    <string>u1C844</string>
    <string>u1C845</string>
    <string>u1C846</string>
    <string>u1C847</string>
    <string>u1C848</string>
    <string>u1C849</string>
    <string>u1C84A</string>
    <string>u1C84B</string>
    <string>u1C84C</string>
    <string>u1C84D</string>
    <string>u1C84E</string>
    <string>u1C84F</string>
    <string>u1C850</string>
    <string>u1C851</string>
    <string>u1C852</string>
    <string>u1C853</string>
    <string>u1C854</string>
    <string>u1C855</string>
    <string>u1C856</string>
    <string>u1C857</string>
    <string>u1C858</string>
    <string>u1C859</string>
    <string>u1C85A</string>
    <string>u1C85B</string>
    <string>u1C85C</string>
    <string>u1C85D</string>
    <string>u1C85E</string>
    <string>u1C85F</string>
    <string>u1C860</string>
    <string>u1C861</string>
    <string>u1C862</string>
    <string>u1C863</string>
    <string>u1C864</string>
    <string>u1C865</string>
    <string>u1C866</string>
    <string>u1C867</string>
    <string>u1C868</string>
    <string>u1C869</string>
    <string>u1C86A</string>
    <string>u1C86B</string>
    <string>u1C86C</string>
    <string>u1C86D</string>
    <string>u1C86E</string>
    <string>u1C86F</string>
    <string>u1C870</string>
    <string>u1C871</string>
    <string>u1C872</string>
    <string>u1C873</string>
    <string>u1C874</string>
    <string>u1C875</string>
    <string>u1C876</string>
    <string>u1C877</string>
    <string>u1C878</string>
    <string>u1C879</string>
    <string>u1C87A</string>
    <string>u1C87B</string>
    <string>u1C87C</string>
    <string>u1C87D</string>
    <string>u1C87E</string>
    <string>u1C87F</string>
    <string>u1C880</string>
    <string>u1C881</string>
    <string>u1C882</string>
    <string>u1C883</string>
    <string>u1C884</string>
    <string>u1C885</string>
    <string>u1C886</string>
    <string>u1C887</string>
    <string>u1C888</string>
    <string>u1C889</string>
    <string>u1C88A</string>
    <string>u1C88B</string>
    <string>u1C88C</string>
    <string>u1C88D</string>
    <string>u1C88E</string>
    <string>u1C88F</string>
    <string>u1C890</string>
    <string>u1C891</string>
    <string>u1C892</string>
    <string>u1C893</string>
    <string>u1C894</string>
    <string>u1C895</string>
    <string>u1C896</string>
    <string>u1C897</string>
    <string>u1C898</string>
    <string>u1C899</string>
    <string>u1C89A</string>
    <string>u1C89B</string>
    <string>u1C89C</string>
    <string>u1C89D</string>
    <string>u1C89E</string>
    <string>u1C89F</string>
    <string>u1C8A0</string>
    <string>u1C8A1</string>
    <string>u1C8A2</string>
    <string>u1C8A3</string>
    <string>u1C8A4</string>
    <string>u1C8A5</string>
    <string>u1C8A6</string>
    <string>u1C8A7</string>
    <string>u1C8A8</string>
    <string>u1C8A9</string>
    <string>u1C8AA</string>
    <string>u1C8AB</string>
    <string>u1C8AC</string>
    <string>u1C8AD</string>
    <string>u1C8AE</string>
    <string>u1C8AF</string>
    <string>u1C8B0</string>
    <string>u1C8B1</string>
    <string>u1C8B2</string>
    <string>u1C8B3</string>
    <string>u1C8B4</string>
    <string>u1C8B5</string>
    <string>u1C8B6</string>
    <string>u1C8B7</string>
    <string>u1C8B8</string>
    <string>u1C8B9</string>
    <string>u1C8BA</string>
    <string>u1C8BB</string>
    <string>u1C8BC</string>
    <string>u1C8BD</string>
    <string>u1C8BE</string>
    <string>u1C8BF</string>
    <string>u1C8C0</string>
    <string>u1C8C1</string>
    <string>u1C8C2</string>
    <string>u1C8C3</string>
    <string>u1C8C4</string>
    <string>u1C8C5</string>
    <string>u1C8C6</string>
    <string>u1C8C7</string>
    <string>u1C8C8</string>
    <string>u1C8C9</string>
    <string>u1C8CA</string>
    <string>u1C8CB</string>
    <string>u1C8CC</string>
    <string>u1C8CD</string>
    <string>u1C8CE</string>
    <string>u1C8CF</string>
    <string>u1C8D0</string>
    <string>u1C8D1</string>
    <string>u1C8D2</string>
    <string>u1C8D3</string>
    <string>u1C8D4</string>
    <string>u1C8D5</string>
    <string>u1C8D6</string>
    <string>u1C8D7</string>
    <string>u1C8D8</string>
    <string>u1C8D9</string>
    <string>u1C8DA</string>
    <string>u1C8DB</string>
    <string>u1C8DC</string>
    <string>u1C8DD</string>
    <string>u1C8DE</string>
    <string>u1C8DF</string>
    <string>u1C8E0</string>
    <string>u1C8E1</string>
    <string>u1C8E2</string>
    <string>u1C8E3</string>
    <string>u1C8E4</string>
    <string>u1C8E5</string>
    <string>u1C8E6</string>
    <string>u1C8E7</string>
    <string>u1C8E8</string>
    <string>u1C8E9</string>
    <string>u1C8EA</string>
    <string>u1C8EB</string>
    <string>u1C8EC</string>
    <string>u1C8ED</string>
    <string>u1C8EE</string>
    <string>u1C8EF</string>
    <string>u1C8F0</string>
    <string>u1C8F1</string>
    <string>u1C8F2</string>
    <string>u1C8F3</string>
    <string>u1C8F4</string>
    <string>u1C8F5</string>
    <string>u1C8F6</string>
    <string>u1C8F7</string>
    <string>u1C8F8</string>
    <string>u1C8F9</string>
    <string>u1C8FA</string>
    <string>u1C8FB</string>
    <string>u1C8FC</string>
    <string>u1C8FD</string>
    <string>u1C8FE</string>
    <string>u1C8FF</string>
    <string>u1C900</string>
    <string>u1C901</string>
    <string>u1C902</string>
    <string>u1C903</string>
    <string>u1C904</string>
    <string>u1C905</string>
    <string>u1C906</string>
    <string>u1C907</string>
    <string>u1C908</string>
    <string>u1C909</string>
    <string>u1C90A</string>
    <string>u1C90B</string>
    <string>u1C90C</string>
    <string>u1C90D</string>
    <string>u1C90E</string>
    <string>u1C90F</string>
    <string>u1C910</string>
    <string>u1C911</string>
    <string>u1C912</string>
    <string>u1C913</string>
    <string>u1C914</string>
    <string>u1C915</string>
    <string>u1C916</string>
    <string>u1C917</string>
    <string>u1C918</string>
    <string>u1C919</string>
    <string>u1C91A</string>
    <string>u1C91B</string>
    <string>u1C91C</string>
    <string>u1C91D</string>
    <string>u1C91E</string>
    <string>u1C91F</string>
    <string>u1C920</string>
    <string>u1C921</string>
    <string>u1C922</string>
    <string>u1C923</string>
    <string>u1C924</string>
    <string>u1C925</string>
    <string>u1C926</string>
    <string>u1C927</string>
    <string>u1C928</string>
    <string>u1C929</string>
    <string>u1C92A</string>
    <string>u1C92B</string>
    <string>u1C92C</string>
    <string>u1C92D</string>
    <string>u1C92E</string>
    <string>u1C92F</string>
    <string>u1C930</string>
    <string>u1C931</string>
    <string>u1C932</string>
    <string>u1C933</string>
    <string>u1C934</string>
    <string>u1C935</string>
    <string>u1C936</string>
    <string>u1C937</string>
    <string>u1C938</string>
    <string>u1C939</string>
    <string>u1C93A</string>
    <string>u1C93B</string>
    <string>u1C93C</string>
    <string>u1C93D</string>
    <string>u1C93E</string>
    <string>u1C93F</string>
    <string>u1C940</string>
    <string>u1C941</string>
    <string>u1C942</string>
    <string>u1C943</string>
    <string>u1C944</string>
    <string>u1C945</string>
    <string>u1C946</string>
    <string>u1C947</string>
    <string>u1C948</string>
    <string>u1C949</string>
    <string>u1C94A</string>
    <string>u1C94B</string>
    <string>u1C94C</string>
    <string>u1C94D</string>
    <string>u1C94E</string>
    <string>u1C94F</string>
    <string>u1C950</string>
    <string>u1C951</string>
    <string>u1C952</string>
    <string>u1C953</string>
    <string>u1C954</string>
    <string>u1C955</string>
    <string>u1C956</string>
    <string>u1C957</string>
    <string>u1C958</string>
    <string>u1C959</string>
    <string>u1C95A</string>
    <string>u1C95B</string>
    <string>u1C95C</string>
    <string>u1C95D</string>
    <string>u1C95E</string>
    <string>u1C95F</string>
    <string>u1C960</string>
    <string>u1C961</string>
    <string>u1C962</string>
    <string>u1C963</string>
    <string>u1C964</string>
    <string>u1C965</string>
    <string>u1C966</string>
    <string>u1C967</string>
    <string>u1C968</string>
    <string>u1C969</string>
    <string>u1C96A</string>
    <string>u1C96B</string>
    <string>u1C96C</string>
    <string>u1C96D</string>
    <string>u1C96E</string>
    <string>u1C96F</string>
    <string>u1C970</string>
    <string>u1C971</string>
    <string>u1C972</string>
    <string>u1C973</string>
    <string>u1C974</string>
    <string>u1C975</string>
    <string>u1C976</string>
    <string>u1C977</string>
    <string>u1C978</string>
    <string>u1C979</string>
    <string>u1C97A</string>
    <string>u1C97B</string>
    <string>u1C97C</string>
    <string>u1C97D</string>
    <string>u1C97E</string>
    <string>u1C97F</string>
    <string>u1C980</string>
    <string>u1C981</string>
    <string>u1C982</string>
    <string>u1C983</string>
    <string>u1C984</string>
    <string>u1C985</string>
    <string>u1C986</string>
    <string>u1C987</string>
    <string>u1C988</string>
    <string>u1C989</string>
    <string>u1C98A</string>
    <string>u1C98B</string>
    <string>u1C98C</string>
    <string>u1C98D</string>
    <string>u1C98E</string>
    <string>u1C98F</string>
    <string>u1C990</string>
    <string>u1C991</string>
    <string>u1C992</string>
    <string>u1C993</string>
    <string>u1C994</string>
    <string>u1C995</string>
    <string>u1C996</string>
    <string>u1C997</string>
    <string>u1C998</string>
    <string>u1C999</string>
    <string>u1C99A</string>
    <string>u1C99B</string>
    <string>u1C99C</string>
    <string>u1C99D</string>
    <string>u1C99E</string>
    <string>u1C99F</string>
    <string>u1C9A0</string>
    <string>u1C9A1</string>
    <string>u1C9A2</string>
    <string>u1C9A3</string>
    <string>u1C9A4</string>
    <string>u1C9A5</string>
    <string>u1C9A6</string>
    <string>u1C9A7</string>
    <string>u1C9A8</string>
    <string>u1C9A9</string>
    <string>u1C9AA</string>
    <string>u1C9AB</string>
    <string>u1C9AC</string>
    <string>u1C9AD</string>
    <string>u1C9AE</string>
    <string>u1C9AF</string>
    <string>u1C9B0</string>
    <string>u1C9B1</string>
    <string>u1C9B2</string>
    <string>u1C9B3</string>
    <string>u1C9B4</string>
    <string>u1C9B5</string>
    <string>u1C9B6</string>
    <string>u1C9B7</string>
    <string>u1C9B8</string>
    <string>u1C9B9</string>
    <string>u1C9BA</string>
    <string>u1C9BB</string>
    <string>u1C9BC</string>
    <string>u1C9BD</string>
    <string>u1C9BE</string>
    <string>u1C9BF</string>
    <string>u1C9C0</string>
    <string>u1C9C1</string>
    <string>u1C9C2</string>
    <string>u1C9C3</string>
    <string>u1C9C4</string>
    <string>u1C9C5</string>
    <string>u1C9C6</string>
    <string>u1C9C7</string>
    <string>u1C9C8</string>
    <string>u1C9C9</string>
    <string>u1C9CA</string>
    <string>u1C9CB</string>
    <string>u1C9CC</string>
    <string>u1C9CD</string>
    <string>u1C9CE</string>
    <string>u1C9CF</string>
    <string>u1C9D0</string>
    <string>u1C9D1</string>
    <string>u1C9D2</string>
    <string>u1C9D3</string>
    <string>u1C9D4</string>
    <string>u1C9D5</string>
    <string>u1C9D6</string>
    <string>u1C9D7</string>
    <string>u1C9D8</string>
    <string>u1C9D9</string>
    <string>u1C9DA</string>
    <string>u1C9DB</string>
    <string>u1C9DC</string>
    <string>u1C9DD</string>
    <string>u1C9DE</string>
    <string>u1C9DF</string>
    <string>u1C9E0</string>
    <string>u1C9E1</string>
    <string>u1C9E2</string>
    <string>u1C9E3</string>
    <string>u1C9E4</string>
    <string>u1C9E5</string>
    <string>u1C9E6</string>
    <string>u1C9E7</string>
    <string>u1C9E8</string>
    <string>u1C9E9</string>
    <string>u1C9EA</string>
    <string>u1C9EB</string>
    <string>u1C9EC</string>
    <string>u1C9ED</string>
    <string>u1C9EE</string>
    <string>u1C9EF</string>
    <string>u1C9F0</string>
    <string>u1C9F1</string>
    <string>u1C9F2</string>
    <string>u1C9F3</string>
    <string>u1C9F4</string>
    <string>u1C9F5</string>
    <string>u1C9F6</string>
    <string>u1C9F7</string>
    <string>u1C9F8</string>
    <string>u1C9F9</string>
    <string>u1C9FA</string>
    <string>u1C9FB</string>
    <string>u1C9FC</string>
    <string>u1C9FD</string>
    <string>u1C9FE</string>
    <string>u1C9FF</string>
    <string>u1CA00</string>
    <string>u1CA01</string>
    <string>u1CA02</string>
    <string>u1CA03</string>
    <string>u1CA04</string>
    <string>u1CA05</string>
    <string>u1CA06</string>
    <string>u1CA07</string>
    <string>u1CA08</string>
    <string>u1CA09</string>
    <string>u1CA0A</string>
    <string>u1CA0B</string>
    <string>u1CA0C</string>
    <string>u1CA0D</string>
    <string>u1CA0E</string>
    <string>u1CA0F</string>
    <string>u1CA10</string>
    <string>u1CA11</string>
    <string>u1CA12</string>
    <string>u1CA13</string>
    <string>u1CA14</string>
    <string>u1CA15</string>
    <string>u1CA16</string>
    <string>u1CA17</string>
    <string>u1CA18</string>
    <string>u1CA19</string>
    <string>u1CA1A</string>
    <string>u1CA1B</string>
    <string>u1CA1C</string>
    <string>u1CA1D</string>
    <string>u1CA1E</string>
    <string>u1CA1F</string>
    <string>u1CA20</string>
    <string>u1CA21</string>
    <string>u1CA22</string>
    <string>u1CA23</string>
    <string>u1CA24</string>
    <string>u1CA25</string>
    <string>u1CA26</string>
    <string>u1CA27</string>
    <string>u1CA28</string>
    <string>u1CA29</string>
    <string>u1CA2A</string>
    <string>u1CA2B</string>
    <string>u1CA2C</string>
    <string>u1CA2D</string>
    <string>u1CA2E</string>
    <string>u1CA2F</string>
    <string>u1CA30</string>
    <string>u1CA31</string>
    <string>u1CA32</string>
    <string>u1CA33</string>
    <string>u1CA34</string>
    <string>u1CA35</string>
    <string>u1CA36</string>
    <string>u1CA37</string>
    <string>u1CA38</string>
    <string>u1CA39</string>
    <string>u1CA3A</string>
    <string>u1CA3B</string>
    <string>u1CA3C</string>
    <string>u1CA3D</string>
    <string>u1CA3E</string>
    <string>u1CA3F</string>
    <string>u1CA40</string>
    <string>u1CA41</string>
    <string>u1CA42</string>
    <string>u1CA43</string>
    <string>u1CA44</string>
    <string>u1CA45</string>
    <string>u1CA46</string>
    <string>u1CA47</string>
    <string>u1CA48</string>
    <string>u1CA49</string>
    <string>u1CA4A</string>
    <string>u1CA4B</string>
    <string>u1CA4C</string>
    <string>u1CA4D</string>
    <string>u1CA4E</string>
    <string>u1CA4F</string>
    <string>u1CA50</string>
    <string>u1CA51</string>
    <string>u1CA52</string>
    <string>u1CA53</string>
    <string>u1CA54</string>
    <string>u1CA55</string>
    <string>u1CA56</string>
    <string>u1CA57</string>
    <string>u1CA58</string>
    <string>u1CA59</string>
    <string>u1CA5A</string>
    <string>u1CA5B</string>
    <string>u1CA5C</string>
    <string>u1CA5D</string>
    <string>u1CA5E</string>
    <string>u1CA5F</string>
    <string>u1CA60</string>
    <string>u1CA61</string>
    <string>u1CA62</string>
    <string>u1CA63</string>
    <string>u1CA64</string>
    <string>u1CA65</string>
    <string>u1CA66</string>
    <string>u1CA67</string>
    <string>u1CA68</string>
    <string>u1CA69</string>
    <string>u1CA6A</string>
    <string>u1CA6B</string>
    <string>u1CA6C</string>
    <string>u1CA6D</string>
    <string>u1CA6E</string>
    <string>u1CA6F</string>
    <string>u1CA70</string>
    <string>u1CA71</string>
    <string>u1CA72</string>
    <string>u1CA73</string>
    <string>u1CA74</string>
    <string>u1CA75</string>
    <string>u1CA76</string>
    <string>u1CA77</string>
    <string>u1CA78</string>
    <string>u1CA79</string>
    <string>u1CA7A</string>
    <string>u1CA7B</string>
    <string>u1CA7C</string>
    <string>u1CA7D</string>
    <string>u1CA7E</string>
    <string>u1CA7F</string>
    <string>u1CA80</string>
    <string>u1CA81</string>
    <string>u1CA82</string>
    <string>u1CA83</string>
    <string>u1CA84</string>
    <string>u1CA85</string>
    <string>u1CA86</string>
    <string>u1CA87</string>
    <string>u1CA88</string>
    <string>u1CA89</string>
    <string>u1CA8A</string>
    <string>u1CA8B</string>
    <string>u1CA8C</string>
    <string>u1CA8D</string>
    <string>u1CA8E</string>
    <string>u1CA8F</string>
    <string>u1CA90</string>
    <string>u1CA91</string>
    <string>u1CA92</string>
    <string>u1CA93</string>
    <string>u1CA94</string>
    <string>u1CA95</string>
    <string>u1CA96</string>
    <string>u1CA97</string>
    <string>u1CA98</string>
    <string>u1CA99</string>
    <string>u1CA9A</string>
    <string>u1CA9B</string>
    <string>u1CA9C</string>
    <string>u1CA9D</string>
    <string>u1CA9E</string>
    <string>u1CA9F</string>
    <string>u1CAA0</string>
    <string>u1CAA1</string>
    <string>u1CAA2</string>
    <string>u1CAA3</string>
    <string>u1CAA4</string>
    <string>u1CAA5</string>
    <string>u1CAA6</string>
    <string>u1CAA7</string>
    <string>u1CAA8</string>
    <string>u1CAA9</string>
    <string>u1CAAA</string>
    <string>u1CAAB</string>
    <string>u1CAAC</string>
    <string>u1CAAD</string>
    <string>u1CAAE</string>
    <string>u1CAAF</string>
    <string>u1CAB0</string>
    <string>u1CAB1</string>
    <string>u1CAB2</string>
    <string>u1CAB3</string>
    <string>u1CAB4</string>
    <string>u1CAB5</string>
    <string>u1CAB6</string>
    <string>u1CAB7</string>
    <string>u1CAB8</string>
    <string>u1CAB9</string>
    <string>u1CABA</string>
    <string>u1CABB</string>
    <string>u1CABC</string>
    <string>u1CABD</string>
    <string>u1CABE</string>
    <string>u1CABF</string>
    <string>u1CAC0</string>
    <string>u1CAC1</string>
    <string>u1CAC2</string>
    <string>u1CAC3</string>
    <string>u1CAC4</string>
    <string>u1CAC5</string>
    <string>u1CAC6</string>
    <string>u1CAC7</string>
    <string>u1CAC8</string>
    <string>u1CAC9</string>
    <string>u1CACA</string>
    <string>u1CACB</string>
    <string>u1CACC</string>
    <string>u1CACD</string>
    <string>u1CACE</string>
    <string>u1CACF</string>
    <string>u1CAD0</string>
    <string>u1CAD1</string>
    <string>u1CAD2</string>
    <string>u1CAD3</string>
    <string>u1CAD4</string>
    <string>u1CAD5</string>
    <string>u1CAD6</string>
    <string>u1CAD7</string>
    <string>u1CAD8</string>
    <string>u1CAD9</string>
    <string>u1CADA</string>
    <string>u1CADB</string>
    <string>u1CADC</string>
    <string>u1CADD</string>
    <string>u1CADE</string>
    <string>u1CADF</string>
    <string>u1CAE0</string>
    <string>u1CAE1</string>
    <string>u1CAE2</string>
    <string>u1CAE3</string>
    <string>u1CAE4</string>
    <string>u1CAE5</string>
    <string>u1CAE6</string>
    <string>u1CAE7</string>
    <string>u1CAE8</string>
    <string>u1CAE9</string>
    <string>u1CAEA</string>
    <string>u1CAEB</string>
    <string>u1CAEC</string>
    <string>u1CAED</string>
    <string>u1CAEE</string>
    <string>u1CAEF</string>
    <string>u1CAF0</string>
    <string>u1CAF1</string>
    <string>u1CAF2</string>
    <string>u1CAF3</string>
    <string>u1CAF4</string>
    <string>u1CAF5</string>
    <string>u1CAF6</string>
    <string>u1CAF7</string>
    <string>u1CAF8</string>
    <string>u1CAF9</string>
    <string>u1CAFA</string>
    <string>u1CAFB</string>
    <string>u1CAFC</string>
    <string>u1CAFD</string>
    <string>u1CAFE</string>
    <string>u1CAFF</string>
    <string>u1CB00</string>
    <string>u1CB01</string>
    <string>u1CB02</string>
    <string>u1CB03</string>
    <string>u1CB04</string>
    <string>u1CB05</string>
    <string>u1CB06</string>
    <string>u1CB07</string>
    <string>u1CB08</string>
    <string>u1CB09</string>
    <string>u1CB0A</string>
    <string>u1CB0B</string>
    <string>u1CB0C</string>
    <string>u1CB0D</string>
    <string>u1CB0E</string>
    <string>u1CB0F</string>
    <string>u1CB10</string>
    <string>u1CB11</string>
    <string>u1CB12</string>
    <string>u1CB13</string>
    <string>u1CB14</string>
    <string>u1CB15</string>
    <string>u1CB16</string>
    <string>u1CB17</string>
    <string>u1CB20.smr</string>
    <string>u1CB21.smr</string>
    <string>u1CB22.smr</string>
    <string>u1CB23.smr</string>
    <string>u1CB24.smr</string>
    <string>u1CB25.smr</string>
    <string>u1CB26.smr</string>
    <string>u1CB27.smr</string>
    <string>u1CB28.smr</string>
    <string>u1CB29.smr</string>
    <string>u1CB2A</string>
    <string>u1CB2B</string>
    <string>u1CB20</string>
    <string>u1CB21</string>
    <string>u1CB22</string>
    <string>u1CB23</string>
    <string>u1CB24</string>
    <string>u1CB25</string>
    <string>u1CB26</string>
    <string>u1CB27</string>
    <string>u1CB28</string>
    <string>u1CB29</string>
    <string>quoteright</string>
    <string>.notdef</string>
    <string>u1CB29.ism</string>
    <string>u1CB20.ism</string>
    <string>u1CB21.ism</string>
    <string>u1CB22.ism</string>
    <string>u1CB23.ism</string>
    <string>u1CB25.ism</string>
    <string>u1CB26.ism</string>
    <string>u1CB27.ism</string>
    <string>u1CB28.ism</string>
    <string>u1CB24.ism</string>
    <string>u1CB20.sna</string>
    <string>u1CB21.sna</string>
    <string>u1CB22.sna</string>
    <string>u1CB23.sna</string>
    <string>u1CB24.sna</string>
    <string>u1CB25.sna</string>
    <string>u1CB26.sna</string>
    <string>u1CB27.sna</string>
    <string>u1CB29.sna</string>
    <string>u1CB28.sna</string>
    <string>u1CA40.alt</string>
  </array>
</dict>
</plist>
